In [162]:
# Dependencies and Setup
import pandas as pd

In [163]:
# File to Load (Remember to Change These)
school_path = "../../gt-atl-data-pt-03-2020-u-c/04-Pandas/Homework/PyCitySchools/Resources/schools_complete.csv"
student_path = "../../gt-atl-data-pt-03-2020-u-c/04-Pandas/Homework/PyCitySchools/Resources/students_complete.csv"

In [164]:
# Read School and Student Data File and store into Pandas Data Frames
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

In [201]:
# Combine the data into a single dataset
merged_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [166]:
# total of unique schools
Total_schools = len(merged_df["school_name"].unique())
Total_schools

15

In [167]:
# total students
Total_students = len(merged_df["Student ID"].unique())
Total_students

39170

In [168]:
#tota budget
Total_budget = (sum((merged_df["budget"]).unique())).astype(float)
Total_budget

24649428.0

In [221]:
#Average math score
Avg_math = ((merged_df["math_score"]).mean())
Avg_math

78.98537145774827

In [222]:
#Average reading score
Avg_reading = ((merged_df["reading_score"]).mean())
Avg_reading

81.87784018381414

In [223]:
# % Passing math
Passing_math = (merged_df.loc[merged_df["math_score"] >= 70])
Passing_math = (len(Passing_math["math_score"]) / Total_students) * 100
Passing_math

74.9808526933878

In [205]:
# % Passing reading
Passing_reading = (merged_df.loc[merged_df["reading_score"] >= 70])
Passing_reading = ((len(Passing_reading["reading_score"]) / Total_students) * 100)
Passing_reading

85.80546336482001

In [206]:
# % Overall passing rate
Overall_rate = (Avg_math + Avg_reading) / 2
Overall_rate

79.5

In [239]:
# District summary dataframe
summary_df = pd.DataFrame({"Total Schools": Total_schools,
                              "Total Students": Total_students,
                              "Total Budget": [Total_budget],
                              "Average Math Score": str(round(Avg_math, 6)),
                              "Average Reading Score": str(round(Avg_reading, 6)),
                              "% Passing Math": str(round(Passing_math, 6)),
                              "% Passing Reading": str(round(Passing_reading, 6)),
                              "% Overall Passing Rate": str(round(Overall_rate))})
summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.0

In [243]:
# school name
School_name = merged_df["school_name"].unique()
School_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [251]:
Grouped_df = merged_df.groupby(["school_name"])

In [283]:
#School type
Type = Grouped_df["type"].unique().str[0]
Type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [284]:
# total students per school
Students_perschool = Grouped_df["Student ID"].count()
Students_perschool

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [293]:
#tota budget per school
Budget_perschool = Grouped_df["budget"].unique().astype(float)
Budget_perschool

school_name
Bailey High School      $3,124,928.00
Cabrera High School     $1,081,356.00
Figueroa High School    $1,884,411.00
Ford High School        $1,763,916.00
Griffin High School       $917,500.00
Hernandez High School   $3,022,020.00
Holden High School        $248,087.00
Huang High School       $1,910,635.00
Johnson High School     $3,094,650.00
Pena High School          $585,858.00
Rodriguez High School   $2,547,363.00
Shelton High School     $1,056,600.00
Thomas High School      $1,043,130.00
Wilson High School      $1,319,574.00
Wright High School      $1,049,400.00
Name: budget, dtype: float64

In [297]:
# Per Student Budget
Budget_perstudent  = Budget_perschool / Students_perschool
Budget_perstudent

school_name
Bailey High School      $628.00
Cabrera High School     $582.00
Figueroa High School    $639.00
Ford High School        $644.00
Griffin High School     $625.00
Hernandez High School   $652.00
Holden High School      $581.00
Huang High School       $655.00
Johnson High School     $650.00
Pena High School        $609.00
Rodriguez High School   $637.00
Shelton High School     $600.00
Thomas High School      $638.00
Wilson High School      $578.00
Wright High School      $583.00
dtype: float64

In [308]:
#Average Math Score
Avg_math_perschool = Grouped_df["math_score"].mean()
Avg_math_perschool = Avg_math_perschool(map(int,Avg_math_perschool))
Avg_math_perschool

TypeError: 'Series' object is not callable

In [302]:
Type_df = pd.DataFrame({"School Type": Type,
                        "Total Students" : Students_perschool,
                        "Total Shool Budget": Budget_perschool,
                        "Per Student Budget": Budget_perstudent,
                        "Average Math Score": Avg_math_perschool})
Type_df

,School Type,Total Students,Total Shool Budget,Per Student Budget,Average Math Score
school_name,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,school_name\nBailey High School $77.05\nC...
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,school_name\nBailey High School $77.05\nC...
Figueroa High School,District,2949,"$1,884,411.00",$639.00,school_name\nBailey High School $77.05\nC...
Ford High School,District,2739,"$1,763,916.00",$644.00,school_name\nBailey High School $77.05\nC...
Griffin High School,Charter,1468,"$917,500.00",$625.00,school_name\nBailey High School $77.05\nC...
Hernandez High School,District,4635,"$3,022,020.00",$652.00,school_name\nBailey High School $77.05\nC...
Holden High School,Charter,427,"$248,087.00",$581.00,school_name\nBailey High School $77.05\nC...
Huang High School,District,2917,"$1,910,635.00",$655.00,school_name\nBailey High School $77.05\nC...
Johnson High School,District,4761,"$3,094,650.00",$650.00,school_name\nBailey High School $77.05\nC...
Pena High School,Charter,962,"$585,858.00",$609.00,school_name\nBailey High School $77.05\nC...
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,school_name\nBailey High School $77.05\nC...
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,school_name\nBailey High School $77.05\nC...
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,school_name\nBailey High School $77.05\nC...
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,school_name\nBailey High School $77.05\nC...
Wright High School,Charter,1800,"$1,049,400.00",$583.00,school_name\nBailey High School $77.05\nC...