In [103]:
# Dependencies and Setup
import pandas as pd

In [104]:
# File to Load (Remember to Change These)
school_path = "../../gt-atl-data-pt-03-2020-u-c/04-Pandas/Homework/PyCitySchools/Resources/schools_complete.csv"
student_path = "../../gt-atl-data-pt-03-2020-u-c/04-Pandas/Homework/PyCitySchools/Resources/students_complete.csv"

In [105]:
# Read School and Student Data File and store into Pandas Data Frames
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

In [106]:
# Combine the data into a single dataset
merged_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [107]:
# total of unique schools
Total_schools = len(merged_df["school_name"].unique())

In [116]:
# total students
Total_students = len(merged_df["Student ID"].unique())

In [117]:
#tota budget
Total_budget = sum((merged_df["budget"]).unique())

In [118]:
#Average math score
Avg_math = (merged_df["math_score"]).mean()

In [119]:
#Average reading score
Avg_reading = (merged_df["reading_score"]).mean()

In [120]:
# % Passing math
Passing_math = (merged_df.loc[merged_df["math_score"] >= 70])
Passing_math = (len(Passing_math["math_score"]) / Total_students) * 100

In [121]:
# % Passing reading
Passing_reading = (merged_df.loc[merged_df["reading_score"] >= 70])
Passing_reading = (len(Passing_reading["reading_score"]) / Total_students) * 100

In [122]:
# % Overall passing rate
Overall_rate = (Avg_math + Avg_reading) / 2

In [123]:
# District summary dataframe
summary_df = pd.DataFrame({"Total Schools": [Total_schools],
                              "Total Students": Total_students,
                              "Total Budget": Total_budget,
                              "Average Math Score": Avg_math,
                              "Average Reading Score": Avg_reading,
                              "% Passing Math": Passing_math,
                              "% Passing Reading": Passing_reading,
                              "% Overall Passing Rate": Overall_rate})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,$78.99,$81.88,$74.98,$85.81,$80.43